form{
    width:60%;
    margin:0 auto;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}
legend{
    background-color: #d4d4d4;
    font-weight: bold;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.form-group>label{
    margin-left: 30px;
}
.form-group>input,.form-group>textarea,.form-group>select,.form-group>button{

    width:60%;
    display:inline;
    margin-left: 20px;
    margin-right: 10px;
}