input[type=checkbox]{
    margin:0 !important;
}
.webix_tree_item.webix_selected{
    background: #27ae60 !important;
}
html{
    height:100%;
}
section{
    height:100%;
}
body{
    height:100%;
}
.mslist-error{
    color: rgb(206, 81, 86);
    font-weight: bold;
}
.mslist-default{

}
#canvas-div{
    height:100%;
    padding: 0 0 0 15px;
    float: left;
    /*position: absolute;*/
    /*right:0;*/
}
#canvas{
    border: 1px solid #e2e2e2;
    /*height:100%;*/
    /*width:100%;*/
    background: url('/js/jtopo/image/grid.png') repeat;
    border-radius: 5px;
}
#toolbar{
    position: fixed;
    margin:10px;
    z-index: 999;
}
/*#solution-info{*/
    /*display: none;*/
    /*position: fixed;*/
    /*bottom:10px;*/
/*}*/
/*#task-info{*/
    /*display: none;*/
/*}*/
#config-tag{
    display: none;
    position: fixed;
    bottom:10px
}
.toolbar{
    margin-right:40px;
}
#legend-toolbar{
    position: fixed;
    right: 30px;
    margin-right: 0 !important;
}
.contextMenu{
    display: none;
    position: absolute;
}
.contextMenu li:hover{
    background: #eeeeee;
}
.contextMenu li a,
.contextMenu li a:hover{
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
#div-AggreMS-header{
    float: left;
    width: 100%;
    /*height: 35px;*/
    padding:10px;
    border-bottom: 1px solid #e2e2e2;
}
#webix-AggreMS-list{
    float: left;
    width:100%;
    padding: 0px;
    position: absolute;
    top: 56px;
    bottom:0;
    overflow: scroll;
}
#webix-AggreMS-list pre{
    max-height:250px;
}
.webix_accordionitem_label{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:move;
}
.data-info-dialog{
    width:100% !important;
}
.upload-span a,
.upload-span a:hover{
    cursor: pointer;
    text-decoration: none;
}
.btn .btn-default .active{
    background:#d2d2d2;
}
.error{
    color:red;
}
#zoomIn-tool,
#zoomOut-tool{
    /*display: none;*/
}
.dataInfo-ui-dialog{
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.2);
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close{
    background: #f5f5f5;
}
.pan-cursor{

}
.select-cursor{

}
.link-cursor{

}
.delete-cursor{

}
#solution-table tr:nth-child(2) td:nth-child(1) div,
#solution-table tr:nth-child(3) td:nth-child(1) div,
#event-table tr td:nth-child(1) div{
    margin:0 auto;
    width:20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#solution-table tr:nth-child(1) td:nth-child(1) div,
#states-table tr td:nth-child(1) div{
    margin:0 auto;
    width:30px;
    height: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#link-table tr:nth-child(1) td:nth-child(1) div,
#solution-table tr:nth-child(4) td:nth-child(1) div{
    margin:0 auto;
    width: 40px;
    height: 20px;
    background: url("/images/arrow-blue.png") 0% 0% / 40px 20px no-repeat;

}
#link-table tr:nth-child(2) td:nth-child(1) div,
#solution-table tr:nth-child(5) td:nth-child(1) div{
    margin:0 auto;
    width: 40px;
    height: 20px;
    background: url("/images/arrow-blue-deep.png") 0% 0% / 40px 20px no-repeat;

}
#legend-modal table{
    /*margin-right: 20px;*/
}
#legend-modal table td{
    border:none !important;

}
#legend-modal table td:nth-child(1){
    width:100px !important;
}
#saveas-task-tool div,
#saveas-solution-tool div{
    margin:0 auto;
    width:12px;
    height: 14px;
    background: url("/images/save-as.png") 0 0 / 13px 12px no-repeat;
}
#saveas-task-tool,
#saveas-solution-tool{
    height:34px;
}