modelname||YOLOv5
author||Fengyuan Zhang
programming||Python
license||MIT
wrappingfile||E:\GitCode\ogms\python\ogms\context\modelTest3.py
mdlfile||E:\GitCode\ogms\python\ogms\context\modelTest3.mdl
modelfile||E:\DemoData\GeoModeling\YOLOv5\model\yolov5\
modelfile||E:\DemoData\GeoModeling\YOLOv5\model\yolov5s.pt
